.outer {
    height: 50px;
    width: 800px;
    border: 5px solid rgb(180, 130, 238);
    background-color: black;
    color: white;
    display: flex;
    
    
}

.url {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: orange;
}
.account {
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.cart {
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    
}
.contact {
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    
}
.bar {
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.search {
    margin-left: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    
}